.issue {
  &__card {
    padding: 10px;
    border-radius: 0.125rem;
    background: white;
    margin: 0.25rem 0.5rem;
    box-shadow: #091e4240 0 1px 2px;
    transition: all 0.1s ease-out;
    cursor: pointer;
    @apply hover:bg-backgroundLight;
    &__title {
      @apply pb-3 text-textDarkest text-15;
    }
  }

  &__avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
  }

  &__avatar--w24 {
    width: 24px;
    height: 24px;
  }

  &__avatar--w20 {
    width: 24px;
    height: 24px;
  }

  &__avatar--w30 {
    width: 30px;
    height: 30px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border: 6px solid transparent;
      border-bottom-color: red;
    }

    &::after {
      position: absolute;
      content: attr(data-content);
      
    }

    &.story-icon {
      background-color: #63ba3c;
      color: white;
      border-radius: 0.125rem;
    }
  }

  &__priority {
    color: red;
    font-size: 16px;
  }
}
