.sidebar {
  position: relative;
  overflow: hidden;
  width: 15px;
  transition: all .3s ease-in-out;
  &.show {
    width: 240px;
    padding: 0 16px;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 240px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
