@import "~bootstrap/scss/bootstrap";
@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
.main {
  padding: 32px 24px 0 32px;
  overflow-y: auto;
}

.tooltip-inner {
  background-color: hsl(0, 8%, 14%);
}

body {
  color: #172b4d;
}

input,
textarea {
  outline: none;
  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-flex;
  height: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  vertical-align: middle;
  font-size: 14.5px;
  line-height: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.1s;
  &:hover {
    background-color: #ebecf0;
  }
}

.btn-primary {
  background-color: #f4f5f7;
  @apply text-textMedium;
  border: none;
  &:focus {
    box-shadow: unset;
  }
  &.dropdown-toggle {
    &:focus {
      box-shadow: unset;
    }
  }
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  @apply text-textMedium bg-backgroundMedium;
}

.dropdown-item.active,
.dropdown-item:active {
  @apply text-textMedium bg-backgroundMedium;
}

.border-input {
  border: 1px solid #dfe1e6;
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}

.react-select__option {
  @apply flex items-center py-2 px-3 cursor-pointer hover:bg-backgroundMedium;
}

.base-tooltip {
  position: relative;
  transition: all 0.2s ease-out;

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    display: none;
  }

  &::before {
    content: "";
    bottom: -10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    @apply border-b-backgroundTooltip;
  }
  &::after {
    content: attr(data-content);
    top: calc(100% + 10px);
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    text-align: center;
    @apply bg-backgroundTooltip;
  }

  &:hover {
    &::after,
    &::before {
      opacity: 1;
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 70vw;
  }
}
