.issue__modal {
  &__btn {
    @apply text-textMedium bg-white px-3 py-1 hover:bg-backgroundLight;
    border-radius: 0.125rem;
    font-size: 14px;
    transition: all 0.2s ease;
  }

  &__underline {
    &:hover {
      > span {
        text-decoration: underline;
      }
    }
  }

  &__editor {
    padding: 0 16px;
  }
  &__editor__wrapper {
    border: 1px solid #dfe1e6;
  }
  &__toolbar {
    border: none !important;
    border-bottom: 1px solid #dfe1e6 !important;
  }

  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    @apply bg-backgroundMedium;
    box-shadow: unset;
  }

  .wrapper-editor {
    button {
      display: none;
    }

    &:hover {
      button {
        display: inline-block;
      }
    }
  }

  .quill {
    &.disable {
      .ql-toolbar.ql-snow {
        display: none !important;
      }

      .ql-container.ql-snow {
        border: none !important;
      }

      .ql-editor {
        padding: 0 !important;
      }
    }
  }


}

.modal-delete {
  &.modal.show {
    background-color: rgba($color: black, $alpha: 0.35);
    z-index: 2000;
    display: flex !important;
    justify-content: center;
    align-items: center;

  }


}
